.table-menu{
  width: 100%;
  border-spacing: 10px;
}

.menu-item-div{
  margin: 3% 10% 2% 10%;
  width:75%;
}

.table-menu th{
  border-bottom: 3px solid #72182a;
  text-align: center;
  padding: 5px;
}

.menu-table-header-row{
  min-height: 100px;


}

.menu-table-item-row{
  min-height: 100px;


}
.menu-table-item-col{
  text-align: left;
}

.menu-home{
    padding: 20px 80px 50px 70px;
}

.order-table-total-text{
  text-align: right;
  font-weight: bold;
  border-top: 5px solid black;

}
.order-table-total-amount{
  text-align: left;
  font-weight: bold;
  border-top: 5px solid black;
}
